* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

h3 {
  font-size: 16px;
  padding-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: absolute;
  top: -75px;
  left: -80px;
}

li, a {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.aboutme {
  width: 400px;
  overflow-wrap: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #9FB3C8;
  text-align: center;
  position: relative;
  top: 330px;
  right: -800px;
}

.bgtitle1 {
  font-size: 250px;
  letter-spacing: -8px;
  color: #292B33;
  position: absolute;
  top: 500px;
  left: -30px;
}

.bgtitle2 {
  font-size: 250px;
  letter-spacing: -8px;
  color: #292B33;
  position: absolute;
  top: 10px;
  left: 850px;
}

.bgtitle3 {
  font-size: 250px;
  letter-spacing: -8px;
  color: #292B33;
  position: absolute;
  top: 180px;
  left: -30px;
}

.bgtitle4 {
  font-size: 450px;
  letter-spacing: -8px;
  color: #292B33;
  position: absolute;
  top: 60px;
  left: 610px;
}

.btn1, .btn2, .btn3 {
   display: inline-block;
   padding: 16px 28px;
   border: 0;
   text-decoration: none;
   border-radius: 15px;
   background-color: rgba(255,255,255,0.1);
   border: 1px solid rgba(255,255,255,0.1);
   -webkit-backdrop-filter: blur(30px);
   color: rgba(255,255,255,0.8);
   font-size: 16px;
   letter-spacing: 2px;
   cursor: pointer;
   animation: anime 2s infinite ease-in-out alternate;
   animation-delay: .3s;
 }

 .btn1:hover, .btn2:hover, .btn3:hover {
   background-color: rgba(255,255,255,0.2);
 }

 .btn1 {
   position: absolute;
   top: 585px;
   left: 800px;
 }

 .btn2 {
   position: absolute;
   top: 370px;
   left: 1195px;
 }

 .btn3 {
   position: absolute;
   top: 220px;
   left: 850px;
 }

 @keyframes anime {
   100% {
     transform: translateY(15px);
   }
 }

.byline {
  color: #D0D0D0;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: 3px;
  padding: 10px 0px 10px 40px;
}

.card {
  width: 400px;
  height: 500px;
  background: rgba(255,255,255,0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 250px;
  left: 920px;
}

.card .c-img {
  position: absolute;
  top: 20px;
  left: 50px;
}

.card .c-img .me-img {
  height: 300px;
  width: auto;
}

.card .logo .iglogo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 400px;
  left: 65px;
}

.card .logo .twitlogo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 400px;
  left: 185px;
}

.card .logo .linklogo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 400px;
  left: 305px;
}

.contact {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 130px;
  left: 200px;
}

 .contact-button {
   padding: 12px 55px;
   text-align: center;
   letter-spacing: 3px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   font-family: 'Helvatica', sans-serif;
   margin: 20px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.0);
   color: #ABEF9C;
   border: 2px solid #ABEF9C;
   position: relative;
   left: 38px;
   top: 5px;
   box-shadow: inset 0 0 0 0 #ABEF9C;
   transition: ease-out 0.3s;
 }

 .contact-button:hover {
   box-shadow: inset 300px 0 0 0 #ABEF9C;
   cursor: pointer;
   color: #121212;
 }

 .container1 {
   height: 1450px;
   width: 100%;
   background-color: #1E2025;
   position: relative;
 }

 .container2 {
   height: 950px;
   width: 100%;
   background-color: #1E2025;
   position: relative;
 }

 .container3 {
   height: 1001px;
   width: 100%;
   background-color: #1E2025;
   position: relative;
 }

 .container4 {
   height: 850px;
   width: 100%;
   background-color: #1E2025;
   position: relative;
 }

 .github1 {
   font-size: 18px;
   color: white;
   padding-top: 30px;
   padding-bottom: 4px;
   margin-bottom: 0px;
 }

 .github2 {
   font-size: 18px;
   background: linear-gradient(45deg, #ABEF9C, #10DCC8);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
 }

 .github2:hover {
   background: linear-gradient(45deg, #486581, #D9E2EC);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
 }

 .hline1 {
   transform: translate(-50%, -50%);
   border-top: 2px solid transparent;
   border-image: linear-gradient(90deg, #486581, #D9E2EC);
   border-image-slice: 3;
   width: 300px;
   position: absolute;
   top: 466px;
   left: 50%;
   margin-left: 149px;
 }

 .hline2 {
   transform: translate(-50%, -50%);
   border-top: 2px solid transparent;
   border-image: linear-gradient(90deg, #A444D8, #10DCC8);
   border-image-slice: 3;
   width: 800px;
   position: absolute;
   top: 1350px;
   left: 721px;
 }

 .hline3 {
   transform: translate(-50%, -50%);
   border-top: 2px solid transparent;
   border-image: linear-gradient(90deg, #423D33, #D3CEC4);
   border-image-slice: 3;
   width: 400px;
   position: absolute;
   top: 850px;
   left: 519px;
 }

 .hline4 {
   transform: translate(-50%, -50%);
   border-top: 2px solid transparent;
   border-image: linear-gradient(90deg, #ABEF9C, #10DCC8);
   border-image-slice: 3;
   width: 400px;
   position: absolute;
   top: 1000px;
   left: 521px;
 }

 .home {
   width: 100%;
   height: 100vh;
   background-color: #1E2025;
   background-size: 200%, 200%;
   position: relative;
 }

 .html, .css, .cpp, .py, .fd, .git{
   position: relative;
   list-style: none;
   margin: 40px 0;
   font-weight: bold;
 }

 .html:before, .css:before, .cpp:before, .py:before, .fd:before, .git:before {
   content: "";
   position: absolute;
   top: calc(100% + 10px);
   left: 0;
   width: 100%;
   height: 2px;
   background: 15px;
   background-color: #292B33;
 }

 .html:after, .css:after, .cpp:after, .py:after, .fd:after, .git:after {
   content: "";
   position: absolute;
   top: calc(100% + 10px);
   left: 0;
   width: 0;
   height: 3px;
   animation-duration: .7s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
 }

 .html:after {
   background-color: #ABEF9C;
   animation-name: html;
 }

 @keyframes html {
   to {
     width: 80%;
   }
 }

 .css:after {
   background-color: #10DCC8;
   animation-name: css;
 }

 @keyframes css {
   to {
     width: 70%;
   }
 }

 .cpp:after {
   background-color: #A444D8;
   animation-name: cpp;
 }

 @keyframes cpp {
   to {
     width: 80%;
   }
 }

 .py:after {
   background-color: #ABEF9C;
   animation-name: py;
 }

 @keyframes py {
   to {
     width: 80%;
   }
 }

 .fd:after {
   background-color: #10DCC8;
   animation-name: fd;
 }

 @keyframes fd {
   to {
     width: 60%;
   }
 }

 .git:after {
   background-color: #A444D8;
   animation-name: git;
 }

 @keyframes git {
   to {
     width: 80%;
   }
 }

 .imgbtn {
   position: relative;
   top: -575px;
   right: 50px;
 }

 .intro {
   color: white;
   font-family: 'Helvetica', sans-serif;
   font-size: 4.5rem;
   letter-spacing: -3px;
   word-spacing: -3px;
   padding: 220px 0px 15px 35px;
 }

 .logo {
   width: auto;
   height: 225px;
   cursor: pointer;
   margin-right: 50vw;
 }

 .memoji {
   height: 400px;
   width: auto;
   position: absolute;
   top: 225px;
   left: 910px;
 }

 .memoji2 {
   width: 550px;
   height: auto;
   position: absolute;
   top: 630px;
   left: 120px;
 }

 .memyself {
   font-size: 50px;
   color: white;
   position: relative;
   top: 290px;
   right: -800px;
 }

 .nav_links {
   list-style: none;
 }

 .nav_links li {
   display: inline-block;
   padding: 0px 20px;
 }

 .nav_links li a {
   transition: all 0.3s ease 0s;
 }

 .nav_links li a:hover {
   color: #10DCC8;
 }

 .p1-img {
   width: 550px;
   height: 300px;
   position: absolute;
   top: 500px;
   left: 140px;
   border-radius: 20px;
   border: 1px solid white;
 }

 .p2-img {
   width: 550px;
   height: 300px;
   position: absolute;
   top: 500px;
   left: 740px;
   border-radius: 20px;
   border: 1px solid white;
 }

 .pro-head {
   font-size: 50px;
   color: white;
   position: absolute;
   top: 30px;
   left: 580px;
 }

 .pro-para {
   width: 750px;
   font-size: 18px;
   text-align: center;
   line-height: 1.5;
   color: #9FB3C8;
   position: absolute;
   top: 120px;
   left: 350px;
 }

 .quote1, .quote2 {
   font-family: 'Helvetica', sans-serif;
   font-size: 3.7rem;
   font-weight: bold;
   text-align: center;
   line-height: 1.4;
 }

 .quote1 {
   padding-top: 80px;
   color: white;
 }

 .quote2 {
   padding-left: 15px;
   background: linear-gradient(45deg, #A444D8, #10DCC8);
   background-size: 200%;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   animation: text-animate 5s linear infinite;
 }

 @keyframes text-animate {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }

 .quote3 {
   font-family: 'Helvetica', sans-serif;
   font-size: 1.8rem;
   color: #627D98;
   text-align: center;
   padding-top: 25px;
 }

 .resume {
   margin-left: 5px;
   background: linear-gradient(45deg, #ABEF9C, #10DCC8);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
 }

 .resume:hover {
   background: linear-gradient(45deg, #486581, #D9E2EC);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
 }

 .skillpara {
   width: 600px;
   font-size: 18px;
   line-height: 1.5;
   color: #9FB3C8;
   position: absolute;
   top: 112px;
   left: 50px;
 }

 .skills {
   font-size: 50px;
   color: white;
   position: absolute;
   top: 30px;
   left: 165px;
   text-align: center;
 }

 .skill-bar {
   width: 600px;
   margin: 50px auto 0;
   padding: 10px;
   position: absolute;
   top: 280px;
   left: 40px;
 }

 .tagcloud {
   display: inline-block;
   top: 100px;
   left: 32%;
   font-weight: bold;
   letter-spacing: 1px;
   font-family: 'Helvetica', sans-serif;
   font-size: 24px;
   position: absolute;
   top: 10px;
   left: 650px;
 }

 .tagcloud--item:hover {
   color: #9FB3C8;
 }

 .vline1 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #10DCC8, #ABEF9C);
   border-image-slice: 3;
   height: 90px;
   position: absolute;
   top: 730px;
   left: 50%;
 }

 .vline2 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #ABEF9C, #10DCC8);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: auto;
   left: 50%;
 }

 .vline3 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #486581, #D9E2EC);
   border-image-slice: 3;
   height: 90px;
   position: absolute;
   top: 420px;
   left: 50%;
 }

 .vline4 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #486581, #D9E2EC);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 515px;
   left: 50%;
   margin-left: 300px;
 }

 .vline5 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #A444D8, #10DCC8);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 1300px;
   left: 1120px;
 }

 .vline6 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #A444D8, #10DCC8);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 1400px;
   left: 322px;
 }

 .vline7 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #423D33, #D3CEC4);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 800px;
   left: 320px;
 }

 .vline8 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #423D33, #D3CEC4);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 899px;
   left: 50%;
 }

 .vline9 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #ABEF9C, #10DCC8);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 950px;
   left: 50%;
 }

 .vline10 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #ABEF9C, #10DCC8);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 50px;
   left: 322px;
 }

 .wrapper{
  width: 715px;
  height: 500px;
  background: transparent;
  border-radius: 20px;
  position: absolute;
  top: 260px;
  left: 80px;
}

.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}

form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}

.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #999999;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  color: #9FB3C8;
  border: 1px solid #373b45;
  background-color: #373b45;
}

.field input::placeholder,
.message textarea::placeholder{
  color: #999999;
}

.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #10BCC8;
}

.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #10BCC8;
}

form .message{
  position: relative;
}

form .message i{
  top: 30px;
  font-size: 20px;
}

form .message textarea{
  min-height: 250px;
  max-height: 250px;
  max-width: 100%;
  min-width: 100%;
  font-family: 'Helvetica', sans-serif;

  padding: 15px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar{
  width: 0px;
}

.message textarea:focus{
  padding-top: 14px;
}

form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.button-area button{
  padding: 12px 55px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Helvatica', sans-serif;
  margin: 20px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.0);
  color: #10BCC8;
  border: 2px solid #10BCC8;
  box-shadow: inset 0 0 0 0 #10BCC8;
  transition: ease-out 0.3s;
}

.button-area button:hover{
  box-shadow: inset 300px 0 0 0 #10BCC8;
  cursor: pointer;
  color: #121212;
}

.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}

@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }

  .wrapper form{
    margin: 35px 20px;
  }

  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }

  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }

  form .message textarea{
    resize: none;
  }
