* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

h3 {
  font-size: 16px;
  padding-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: absolute;
  top: -75px;
  left: -80px;
}

li, a {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.aboutme {
  width: 400px;
  overflow-wrap: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #9FB3C8;
  text-align: center;
  position: absolute;
  top: 700px;
  left: 920px;
}

.bgtitle1 {
  font-size: 250px;
  letter-spacing: -8px;
  color: #292B33;
  position: absolute;
  top: 500px;
  left: -30px;
}

.bgtitle2 {
  font-size: 250px;
  letter-spacing: -8px;
  color: #292B33;
  position: absolute;
  top: 10px;
  left: 850px;
}

.btn1, .btn2, .btn3 {
   display: inline-block;
   padding: 16px 28px;
   border: 0;
   text-decoration: none;
   border-radius: 15px;
   background-color: rgba(255,255,255,0.1);
   border: 1px solid rgba(255,255,255,0.1);
   -webkit-backdrop-filter: blur(30px);
   color: rgba(255,255,255,0.8);
   font-size: 16px;
   letter-spacing: 2px;
   cursor: pointer;
   animation: anime 2s infinite ease-in-out alternate;
   animation-delay: .3s;
 }

 .btn1:hover, .btn2:hover, .btn3:hover {
   background-color: rgba(255,255,255,0.2);
 }

 .btn1 {
   position: absolute;
   top: 585px;
   left: 800px;
 }

 .btn2 {
   position: absolute;
   top: 370px;
   left: 1195px;
 }

 .btn3 {
   position: absolute;
   top: 220px;
   left: 850px;
 }

 @keyframes anime {
   100% {
     transform: translateY(15px);
   }
 }

.byline {
  color: #D0D0D0;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 3px;
  padding: 10px 0px 10px 40px;
}

 .contact-button {
   padding: 12px 55px;
   text-align: center;
   letter-spacing: 3px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   font-family: 'Helvatica', sans-serif;
   margin: 20px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.0);
   color: #ABEF9C;
   border: 2px solid #ABEF9C;
   position: absolute;
   left: 38px;
   top: 580px;
   box-shadow: inset 0 0 0 0 #ABEF9C;
   transition: ease-out 0.3s;
 }

 .contact-button:hover {
   box-shadow: inset 300px 0 0 0 #ABEF9C;
   cursor: pointer;
   color: #121212;
 }

 .container1 {
   height: 1450px;
   width: 100%;
   background-color: #1E2025;
   position: relative;
 }

 .container2 {
   height: 1450px;
   width: 100%;
   background-color: #1E2025;
   position: relative;
 }

 .hline1 {
   transform: translate(-50%, -50%);
   border-top: 2px solid transparent;
   border-image: linear-gradient(90deg, #486581, #D9E2EC);
   border-image-slice: 3;
   width: 400px;
   position: absolute;
   top: 466px;
   left: 50%;
   margin-left: 199px;
 }

 .hline2 {
   transform: translate(-50%, -50%);
   border-top: 2px solid transparent;
   border-image: linear-gradient(90deg, #486581, #D9E2EC);
   border-image-slice: 3;
   width: 800px;
   position: absolute;
   top: 1350px;
   left: 721px;
 }

 .home {
   width: 100%;
   height: 100vh;
   background-color: #1E2025;
   background-size: 200%, 200%;
   position: relative;
 }

 .intro {
   color: white;
   font-family: 'Helvetica', sans-serif;
   font-size: 75px;
   letter-spacing: -3px;
   word-spacing: -3px;
   padding: 220px 0px 15px 35px;
 }

 .logo {
   width: auto;
   height: 225px;
   cursor: pointer;
   margin-right: 580px;
 }

 .memoji {
   height: 400px;
   width: auto;
   position: absolute;
   top: 225px;
   left: 910px;
 }

 .memoji2 {
   width: 600px;
   height: auto;
   position: absolute;
   top: 610px;
   left: 80px;
 }

 .memyself {
   font-size: 50px;
   color: white;
   position: absolute;
   top: 590px;
   left: 920px;
 }

 .nav_links {
   list-style: none;
 }

 .nav_links li {
   display: inline-block;
   padding: 0px 20px;
 }

 .nav_links li a {
   transition: all 0.3s ease 0s;
 }

 .nav_links li a:hover {
   color: #10DCC8;
 }

 .quote1, .quote2 {
   font-family: 'Helvetica', sans-serif;
   font-size: 70px;
   font-weight: bold;
   text-align: center;
   line-height: 1.4;
 }

 .quote1 {
   padding-top: 80px;
   color: white;
 }

 .quote2 {
   padding-left: 20px;
   background: linear-gradient(45deg, #ABEF9C, #10DCC8);
   background-size: 200%;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   animation: text-animate 5s linear infinite;
 }

 @keyframes text-animate {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }

 .quote3 {
   font-family: 'Helvetica', sans-serif;
   font-size: 30px;
   color: #627D98;
   text-align: center;
   padding-top: 25px;
 }

 .skills {
   font-size: 50px;
   color: white;
   position: absolute;
   top: 30px;
   left: 165px;
   text-align: center;
 }

 .tagcloud {
   display: inline-block;
   top: 100px;
   left: 32%;
   font-weight: bold;
   letter-spacing: 1px;
   font-family: 'Helvetica', sans-serif;
   font-size: 24px;
   position: absolute;
   top: 10px;
   left: 620px;
 }

 .tagcloud--item:hover {
   color: #9FB3C8;
 }

 .vline1 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #10DCC8, #ABEF9C);
   border-image-slice: 3;
   height: 90px;
   position: absolute;
   top: 730px;
   left: 50%;
 }

 .vline2 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #ABEF9C, #10DCC8);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: auto;
   left: 50%;
 }

 .vline3 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #486581, #D9E2EC);
   border-image-slice: 3;
   height: 90px;
   position: absolute;
   top: 420px;
   left: 50%;
 }

 .vline4 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #486581, #D9E2EC);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 515px;
   left: 50%;
   margin-left: 400px;
 }

 .vline5 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #486581, #D9E2EC);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 1300px;
   left: 1120px;
 }

 .vline6 {
   transform: translate(-50%, -50%);
   border-left: 2px solid transparent;
   border-image: linear-gradient(45deg, #486581, #D9E2EC);
   border-image-slice: 3;
   height: 100px;
   position: absolute;
   top: 1400px;
   left: 322px;
 }
